.popup-view__close {
  font-size: 50px;
  position: absolute;
  margin: 0;
  margin-left: 40px;
  padding: 0;
  top: -15px;
}

.popup-view__close:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 730px) {
  .popup-view__close {
    padding-left: 24px;
    margin: 0;
    font-size: 25px;
    top: -5px
  }
}
